<div class="exception-body">
    <div class="exception-topbar">
        <a href="#" class="logo">
            <img src="assets/layout/images/logo.png" alt=""/>
        </a>
    </div>

    <img class="exception-image" src="assets/layout/images/image-404.png" alt="" />

    <div class="exception-panel">
        <img class="exception-icon" src="assets/layout/images/icon-404.png" alt="" />
        <h1 class="exception-summary">Página não encontrada!</h1>
        <p class="exception-detail">
            A página que você está procurando não está disponível.<br>
            Tente pesquisar novamente ou use o botão abaixo.
        </p>
        <div>
            <button type="button" pButton label="Dashboard" [routerLink]="['/']"></button>
        </div>
    </div>
</div>
